<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="mpxSubNavContainerSolutions">
                <div class="mpxCol mpxCol1">
                    <div class="mpxSubLinkTitle">
                        <a href="https://vigeo-eiris.com/solutions-for-investors/">Mes attestations</a>
                    </div>
                    <div class="mpxContainer">
                        <div class="mpxSubLinkSubTitle"><p>Règlement d’usage du label collectif</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/esg-research/">LES DEMANDEURS DE L’USAGE DU LABEL COLLECTIF</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/sdg_assessment/">DOSSIER DE DEMANDE D’USAGE DU LABEL COLLECTIF</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/sustainable-goods-services/">COMITE D’HOMOLOGATION</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/global-compact-assessment-2/">MODALITES D’OBTENTION DE L’AUTORISATION D’USAGE DU LABEL COLLECTIF</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/controversy-risk-assessments/">ELEMENTS SPECIFIQUES D'IDENTIFICATION LIES A L'ETIQUETAGE</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/cutting-through-the-complexity-of-climate-risks/">CONDITIONS D’USAGE DU LABEL COLLECTIF</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/controversial-activities-screening/">OBTENTION DU REGLEMENT D’USAGE</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/controversial-activities-weapons/">Weapons Screening</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/esg-impact-indicators/">ESG Impact Indicators</a></li>
                            </ul>
                        </div>
                        <div class="mpxSubLinkSubTitle"><p>Investment Performance</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/portfolio-analysis/">PORTFOLIO ANALYSIS</a></li>
                            </ul>
                        </div>
                        <div class="mpxSubLinkSubTitle"><p>Investment Universes & indices</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/portfolio-analysis/">Investment Universes & Indices</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/investment-universes-esg-indices/">ESG INDICES</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-investors/esg-indices-ranking/">ESG INDICES & RANKING</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mpxCol mpxCol2">
                    <div class="mpxSubLinkTitle">
                        <a href="https://vigeo-eiris.com/solutions-for-companies-organisations/">Solutions for Issuers</a>
                    </div>
                    <div class="mpxContainer">
                        <div class="mpxSubLinkSubTitle"><p>Responsible finance & investment</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/green-bonds-social-bonds/">GREEN BONDS / SOCIAL BONDS</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/esg-linked-loans/">ESG Linked Loans</a></li>
                            </ul>
                        </div>
                        <div class="mpxSubLinkSubTitle"><p>Labels & attestations</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/attestation-ve-26000/">ATTESTATION VIGEO EIRIS 26000</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/responsible-ngo/">RESPONSIBLE NGO</a></li>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/label-cgem/">LABEL CGEM</a></li>
                            </ul>
                        </div>
                        <div class="mpxSubLinkSubTitle"><p>ESG rating services</p></div>
                        <div class="mpxSubLinkContents">
                            <ul>
                                <li><a href="https://vigeo-eiris.com/solutions-for-companies-organisations/services-for-rated-companies/">SERVICES FOR RATED COMPANIES</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
