<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div id="container">
                <div class="product-details">
                    <h1>XLS Consulting BIO</h1>
                    <div class="row">
                        <div class="col-lg-6">
                            <table style="margin-top: 10%; color: black">
                                <tr>
                                    <td class="link4"><h6><b><i>Miels (A)</i></b></h6></td>
                                </tr>
                                <div class="container">
                                    <div class="wrap hr-animation">
                                        <hr class="colored ">
                                        <hr class="colored ">
                                    </div>
                                </div>
                                <tr>
                                    <td>Sous catégorie:</td>
                                    <td> A2. D’euphorbe</td>
                                </tr>
                                <tr>
                                    <td>Type de produit:</td>
                                    <td>Miel d’euphorbe</td>
                                </tr>
                                <tr>
                                    <td>Nom commercial du produit:</td>
                                    <td>Délice de l’Atlas</td>
                                </tr>
                                <tr>
                                    <td>Date de délivrance:</td>
                                    <td>01/10/2023</td>
                                </tr>
                                <tr>
                                    <td>Lieu de production :</td>
                                    <td>Taounat</td>
                                </tr>
                                <tr>
                                    <td>Statut :</td>
                                    <td style="color: green;  font-weight: bold; font-size: 16px">Homologuer</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table style="margin-top: 10%; color: black">
                                <tr>
                                    <td class="link4"><h6><b><i>Huiles alimentaires (B)</i></b></h6></td>
                                </tr>
                                <div class="container">
                                    <div class="wrap hr-animation">
                                        <hr class="colored ">
                                        <hr class="colored ">
                                    </div>
                                </div>
                                <tr>
                                    <td>Sous catégorie:</td>
                                    <td> B1. Huile d’olive</td>
                                </tr>
                                <tr>
                                    <td>Type de produit:</td>
                                    <td>Huile d’Argane IGP</td>
                                </tr>
                                <tr>
                                    <td>Nom commercial du produit:</td>
                                    <td>Délice de l’Atlas</td>
                                </tr>
                                <tr>
                                    <td>Date de délivrance:</td>
                                    <td>01/10/2022</td>
                                </tr>
                                <tr>
                                    <td>Lieu de production:</td>
                                    <td>Taounat</td>
                                </tr>
                                <tr>
                                    <td>Statut :</td>
                                    <td style="color: orange; font-weight: bold; font-size: 16px">En attente</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table style="margin-top: 10%; color: black">
                                <tr>
                                    <td class="link4"><h6><b><i>Produits à base de céréales (E)</i></b></h6></td>
                                </tr>
                                <div class="container">
                                    <div class="wrap hr-animation">
                                        <hr class="colored ">
                                        <hr class="colored ">
                                    </div>
                                </div>
                                <tr>
                                    <td>Sous catégorie:</td>
                                    <td> E2. Couscous multi-céréales</td>
                                </tr>
                                <tr>
                                    <td>Type de produit:</td>
                                    <td>Couscous khoumassi</td>
                                </tr>
                                <tr>
                                    <td>Nom commercial du produit:</td>
                                    <td>Délice de l’Atlas</td>
                                </tr>
                                <tr>
                                    <td>Date de délivrance:</td>
                                    <td>01/10/2022</td>
                                </tr>
                                <tr>
                                    <td>Lieu de production:</td>
                                    <td>Taounat</td>
                                </tr>
                                <tr>
                                    <td>Statut :</td>
                                    <td style="color: red; font-weight: bold; font-size: 16px">Refuser</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="control mt-5">
                        <button class="btn" (click)="gotoaccueil()">
                            <span class="price">...</span>
                            <span class="shopping-cart"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                            <span class="buy">Retour</span>
                        </button>
                    </div>
                </div>
                <div class="product-image">
                    <img src="./assets/img/1.jpeg" alt="Omar Dsoky">
                    <div class="info">
                        <h2>Détails</h2>
                        <ul>
                            <li><strong>Producteur: </strong>Ahmed ALAMI</li>
                            <li><strong>Région: </strong>Rabat-Salé-Zemmour-Zaër</li>
                            <li><strong>Province / ville: </strong>Préfecture de Rabat</li>
                            <li><strong>Nombre d’adhérents : </strong>60 / 10 femmes</li>
                            <li><strong>Production annuelle : </strong>1000 Tonnes</li>
                            <li><strong>Filière principale : </strong>Production</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
