<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div id="container">
                <header>
                    <h3 style="margin-top: 3%">Mes resultats</h3>
                </header>
                <table style="width: 90%;margin: 2em auto;text-align: center" class="table table-bordered table-striped responstable">
                    <thead>
                    <th>Catégorie</th>
                    <th>Sous-catégorie</th>
                    <th>Type de produit</th>
                    <th>Nom commercial</th>
                    <th>Numero d'autorisation</th>
                    <th>Date de délivrance</th>
                    <th>Lieu de fabrication</th>
                    <th style="width: 20%">Statut</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Miels (A)</td>
                        <td>A2. D’euphorbe</td>
                        <td>Miel d’euphorbe</td>
                        <td>Délice de l’Atlas</td>
                        <td>120-D45</td>
                        <td>01/10/2023</td>
                        <td>Taounat</td>
                        <td><span class="badge" style="background-color: lightgreen;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Medaille d'or</span></td>
                    </tr>
                    <tr>
                        <td>Huiles alimentaires (B)</td>
                        <td>B1. Huile d’olive</td>
                        <td>Huile d’Argane IGP</td>
                        <td>Délice de l’Atlas</td>
                        <td>120-D45</td>
                        <td>01/10/2023</td>
                        <td>Taounat</td>
                        <td><span class="badge" style="background-color: lightsteelblue;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Medaille d'argent</span></td>
                    </tr>
                    <tr>
                        <td>Produits à base de céréales (E)</td>
                        <td>E2. Couscous multi-céréales</td>
                        <td>Couscous khoumassi</td>
                        <td>Délice de l’Atlas</td>
                        <td>120-D45</td>
                        <td>01/10/2023</td>
                        <td>Taounat</td>
                        <td><span class="badge" style="background-color: lightcoral;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Refuser</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
