<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div id="container">
                <header>
                    <h3 style="margin-top: 3%">Mes resultats</h3>
                </header>
                <table style="width: 90%;margin: 2em auto;text-align: center" class="table table-bordered table-striped responstable">
                    <thead>
                    <th>Catégorie</th>
                    <th>Sous-catégorie</th>
                    <th>Type de produit</th>
                    <th>Nom commercial</th>
                    <th style="width: 20%">Médaille</th>
                    <th style="width: 20%">Prix</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Miels (A)</td>
                        <td>A2. D’euphorbe</td>
                        <td>Miel d’euphorbe</td>
                        <td>Délice de l’Atlas</td>

                        <td><span class="badge" style="background-color: #d9ce15;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Médaille d'or</span></td>
                        <td><span class="badge" style="background-color: lightgreen;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Prix d'excellence</span></td>
                    </tr>
                    <tr>
                        <td>Huiles alimentaires (B)</td>
                        <td>B1. Huile d’olive</td>
                        <td>Huile d’Argane IGP</td>
                        <td>Délice de l’Atlas</td>

                        <td><span class="badge" style="background-color: rgba(108,107,107,0.85);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Médaille d'argent</span></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Produits à base de céréales (E)</td>
                        <td>E2. Couscous multi-céréales</td>
                        <td>Couscous khoumassi</td>
                        <td>Délice de l’Atlas</td>

                        <td><span class="badge" style="background-color: #f0b280;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;">Médaille Bronze</span></td>
                        <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
