<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div id="top" class="page-wrap" style="    background: white;
    width: 70%;
    margin: 7% auto 0 auto;
    height:550px;
    overflow-y: auto;
    padding: 20px;">
                <div class="accordion1">

                    <span class="accordion-toggle">1. DONNEES DU PRODUCTEUR</span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <table style="width: 100%;">
                                <tr>
                                    <td>Nom, prénom du producteur/président/gérant :</td>
                                    <td>Ahmed alami</td>
                                </tr>
                                <tr>
                                    <td>Nom du Groupement /société :</td>
                                    <td>XLS Consulting BIO</td>
                                </tr>
                                <tr>
                                    <td>Adresse :</td>
                                    <td>40, Rue du 16 Novembre 10000, Rabat</td>
                                </tr>
                                <tr>
                                    <td>Ville / Province :</td>
                                    <td>Rabat</td>
                                </tr>
                                <tr>
                                    <td>Région :</td>
                                    <td>Rabat / Salé Kénitra</td>
                                </tr>
                                <tr>
                                    <td>Date de création :</td>
                                    <td>13/08/1986</td>
                                </tr>
                                <tr>
                                    <td>Nombre d’adhérents :</td>
                                    <td>100 / 30 femmes</td>
                                </tr>
                                <tr>
                                    <td>Tél :</td>
                                    <td>06 23 253 255</td>
                                </tr>
                                <tr>
                                    <td>Mobile :</td>
                                    <td>06 23 253 255</td>
                                </tr>
                                <tr>
                                    <td>Fax :</td>
                                    <td>05 35 255 020</td>
                                </tr>
                                <tr>
                                    <td>Email :</td>
                                    <td>xlsconsulting@bio.cna.com</td>
                                </tr>
                                <tr>
                                    <td>Filière principale :</td>
                                    <td>Produits d’origine animale</td>
                                </tr>
                                <tr>
                                    <td>Production annuelle :</td>
                                    <td>10 000</td>
                                </tr>
                                <tr>
                                    <td>Autres produits :</td>
                                    <td>Produits à base de céréales</td>
                                </tr>
                                <hr style="border: 2px solid darkgray; width: 100%"/>
                                <tr>
                                    <td>Nom :</td>
                                    <td>Ahmed</td>
                                </tr>
                                <tr>
                                    <td>Prénom :</td>
                                    <td>Alami</td>
                                </tr>
                                <tr>
                                    <td>Tél :</td>
                                    <td>06 63 230 203</td>
                                </tr>
                                <tr>
                                    <td>Email :</td>
                                    <td>Ahmed.alami@gmail.com</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion1">
                                    <span class="accordion-toggle">2. DONNEES DU PRODUIT PARTICIPANT AU
                                        CONCOURS </span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <table class="table table-bordered" style="width: 100%;">
                                <thead>
                                <th style="width: 20%">Miels (A)</th>
                                <th style="width: 20%">Huiles alimentaires (B)</th>
                                <th style="width: 20%">Produits d’origine animale (C)</th>
                                <th style="width: 20%">Dattes et autres produits d’origine végétale
                                    (D)
                                </th>
                                <th style="width: 20%">Produits à base de céréales (E)</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input id="box1" type="checkbox" disabled/>
                                        <label for="box1">A1. D’agrumes</label>
                                        <br/>
                                        <input id="box2" type="checkbox" disabled>
                                        <label for="box2"> A2. D’euphorbe</label>
                                        <br/>
                                        <input id="box3" type="checkbox" disabled>
                                        <label for="box3"> A3. De thym</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> A4. D’origan</label>
                                        <br/>
                                        <input id="box5" type="checkbox" disabled>
                                        <label for="box5"> A5. D’eucalyptus</label>
                                        <br/>
                                        <input id="box6" type="checkbox" disabled>
                                        <label for="box6"> A6. D’arbousier</label>
                                        <br/>
                                        <input id="box7" type="checkbox" disabled>
                                        <label for="box7"> A7. De romarin</label>
                                        <br/>
                                        <input id="box8" type="checkbox" disabled>
                                        <label for="box8"> A8. Multi fleurs</label>
                                        <br/>
                                        <input id="box9" type="checkbox" disabled>
                                        <label for="box9"> A9. Autres miels</label>
                                    </td>
                                    <td>
                                        <input id="box1" type="checkbox" disabled/>
                                        <label for="box1">B1. Huile d’olive</label>
                                        <br/>
                                        <input id="box2" type="checkbox" disabled>
                                        <label for="box2"> B2. Huile d’argane (alimentaire)</label>
                                        <br/>
                                        <input id="box3" type="checkbox" disabled>
                                        <label for="box3"> B3. Autres huiles</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> B4. Produits à base d’huile d’olive</label>
                                    </td>
                                    <td>
                                        <input id="box1" type="checkbox" checked/>
                                        <label for="box1">C1. Fromage frais</label>
                                        <br/>
                                        <input id="box2" type="checkbox" checked>
                                        <label for="box2"> C2. Autres fromages </label>
                                        <br/>
                                        <input id="box3" type="checkbox" checked>
                                        <label for="box3"> C3. Autres produits laitiers</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> C4. Khlia</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> C5. Produits à base de viande</label>
                                    </td>
                                    <td>
                                        <input id="box1" type="checkbox" checked/>
                                        <label for="box1">D1. Dattes et produits à base de
                                            dattes</label>
                                        <br/>
                                        <input id="box2" type="checkbox" checked>
                                        <label for="box2"> D2. Olives et produits à base
                                            d’olive </label>
                                        <br/>
                                        <input id="box3" type="checkbox" checked>
                                        <label for="box3"> D3. Fruits séchés</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> D4. Produit à base de fruits</label>
                                        <br/>
                                        <input id="box4" type="checkbox" checked>
                                        <label for="box4"> D5. Produits à base de légumes </label>
                                        <br/>
                                        <input id="box4" type="checkbox" checked>
                                        <label for="box4"> D6. Confitures et gelées</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> D7. Amlou</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> D8. Vinaigres</label>
                                    </td>
                                    <td>
                                        <input id="box1" type="checkbox" disabled/>
                                        <label for="box1"> E1. Couscous blé dur</label>
                                        <br/>
                                        <input id="box2" type="checkbox" disabled>
                                        <label for="box2"> E2. Couscous multi-céréales </label>
                                        <br/>
                                        <input id="box3" type="checkbox" disabled>
                                        <label for="box3"> E3. Couscous aromatisé</label>
                                        <br/>
                                        <input id="box4" type="checkbox" disabled>
                                        <label for="box4"> E4. Autres produits à base de
                                            céréales</label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="width: 100%;">
                                <tr>
                                    <td>Indiquez le type de produit :</td>
                                    <td>confiture de cerises</td>
                                </tr>
                                <tr>
                                    <td>Nom commercial de votre produit :</td>
                                    <td>Délice de l’Atlas</td>
                                </tr>
                                <tr>
                                    <td>Votre produit bénéficie-t’il d’un label, d'une marque, d'une
                                        certification? :
                                    </td>
                                    <td>BIO</td>
                                </tr>
                                <tr>
                                    <td>Numéro d’autorisation/agrément sur le plan sanitaire (ONSSA) :
                                    </td>
                                    <td>120DF52</td>
                                </tr>
                                <tr>
                                    <td>Date de délivrance :</td>
                                    <td>01/10/2023</td>
                                </tr>
                                <tr>
                                    <td>Particularités de votre produit :</td>
                                    <td>01/10/2001</td>
                                </tr>
                                <tr>
                                    <td>Lieu de fabrication :</td>
                                    <td>Rabat</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="accordion1">
                    <span class="accordion-toggle">3. PREPARATION A LA DEGUSTATION </span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <p style="color: black; font-weight: 500">Votre conseil pour la préparation
                                du produit lors de la dégustation
                                (température de consommation, durée/ température de cuisson……)</p>
                            <p class="mt-5">Température de cuisson : La température de cuisson dépend du
                                type de
                                légume. Certains légumes, comme les haricots verts, sont généralement
                                cuits à la vapeur à environ 90°C, tandis que d'autres peuvent être rôtis
                                à des températures plus élevées.
                            </p>
                            <p>
                                Durée de cuisson : La durée de cuisson varie en fonction de la taille et
                                de la densité du légume. Les légumes plus tendres cuisent généralement
                                plus rapidement que les légumes plus durs.</p>
                            <p>En fin de compte, la meilleure façon de préparer un produit pour la
                                dégustation est de suivre une recette spécifique qui convient à
                                l'aliment en question. Cela garantira que vous obtenez les meilleurs
                                résultats en termes de saveur et de texture.</p>

                        </div>
                    </div>
                </div>
                <div class="accordion1">
                    <span class="accordion-toggle">4. COMPOSITION DE VOTRE PRODUIT</span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <table class="table table-bordered" style="width: 100%;">
                                <thead>
                                <th>Composants</th>
                                <th>Matière première</th>
                                <th>%</th>
                                <th>Fournisseur</th>
                                <th>Lieu de production</th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Figues</td>
                                    <td>100%</td>
                                    <td>Production propre</td>
                                    <td>Taounate</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Confiture</td>
                                    <td>100%</td>
                                    <td>Production propre</td>
                                    <td>Rabat</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="accordion1">
                    <span class="accordion-toggle">5. TRANSMISSION DE l’ETIQUETTE DU PRODUIT</span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <a target="_blank"
                               href="https://pampat.ma/fr/capacity/concours-marocain-des-produits-du-terroir/">Spécimen
                                d’étiquette du produit</a>
                        </div>
                    </div>
                </div>
                <div class="accordion1">
                    <span class="accordion-toggle">6. PRODUCTION ANNUELLE </span>
                    <div class="accordion-content">
                        <div class="accordion-inner">
                            <table style="width: 100%">
                                <tr>
                                    <td>Quantité</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td>Unité</td>
                                    <td>Kg</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <input type="submit" (click)="retour()" name="submit" class="submit action-button"
                       value="Retour"/>
            </div>
        </div>
    </div>
</div>
