select{
background-color:antiquewhite !important;
border: none !important;
margin: 0 !important;
height: 34px !important;
width: 100%;
font-size: 12px;
padding: 5px 10px 5px 5px;
color: #66512c !important;
border-bottom: 1px solid #66512c !important;
}


