<!--<header class="header1" id="topnav">
    <div class="inner">
        <nav role='navigation'>
            <div class="logo">
                <img src="assets/img/angular2-logo.png" alt=""
                     style="width: 11%; position: absolute; left: 5%; top: -5%;">
            </div>
            <div class='header-menu'>
                <ul>
                    <li><a href='http://www.idblanter.com/' title='Beranda'>Beranda</a></li>

                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Mot du DG de l'ADA</a></li>
                    <li><a href="#">Partenaire</a></li>
                    <li><a href="#">Le concours</a></li>
                    <li><a href="#">Résultats du concours</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>-->

<div class='float_wrapper' id='header-utama'>
    <div class='wrapper'>
        <div class='header-logo'>
            <a href="#" (click)="gotohome()"><img src="assets/img/angular2-logo.png" alt="" style="margin-top: 25px;"/></a>
        </div>
    </div>
</div>
